.whatsappFloat {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 24px;
  right: 24px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 0px 4px #999;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsappFloat:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.badge {
  position: absolute;
  top: -6px;
  right: -2px;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex; /* changed from block to flex */
  align-items: center; /* vertically center */
  justify-content: center; /* horizontally center */
  font-size: 12px; /* adjust as needed */
  color: #fff;
  font-weight: bold;
  z-index: 2;
  pointer-events: none;
}

.popupMessage {
  position: absolute;
  right: 63px;
  bottom: 12px;
  background: #fff;
  color: #222;
  padding: 8px 16px;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  font-size: 15px;
  white-space: nowrap;
  z-index: 10;
  opacity: 1;
  animation: popupFadeIn 1s;
  border: 0.8px solid #25d366;
}

@keyframes popupFadeIn {
  from { opacity: 0; transform: translateY(10px);}
  to { opacity: 1; transform: translateY(0);}
}