.whatsappFloat {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 0px 4px #999;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsappFloat:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}