@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.aboutSection {
  padding: 60px 0;
  background: #F5F5F5;
  overflow-x: hidden;
}

.aboutContent {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0rem 4rem;
}

.aboutImage {
  display: flex;
}

.img {
  border-radius: 33px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.10);
  width: 100%;
  max-width: 400px;
  height: auto;
}

.aboutText {
  flex: 1;
  text-align: left;
  display: flex;          /* Ajouté */
  justify-content: center; /* Pour centrer horizontalement */
  align-items: center;     /* Pour centrer verticalement */
}



.centerText{
  padding: 1rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.aboutTitle {
  color: #f8ad19;
  font-size: 1.75rem;
  font-family: 'Montserrat';
  padding-left: 4rem;
  font-weight: 700;
}


.aboutDescription {
  color: #000000; /* Black color for the description text */
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
/* Add media query for mobile devices */
@media screen and (max-width: 600px) {
  .aboutTitle {
    text-align: center;
    margin: 0;
    padding: 0 1rem;
  }
  .aboutDescription {
    font-size: 0.95rem;
  }
  .aboutContent {
    margin: 0rem 2rem 0rem 2rem;
  }
  .img{
    width: 90%;
  }
  .aboutSection{
    padding: 30px 0;
  }
}

.aboutHeading {
  color: #000000; /* Black color for the main heading */
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.highlight {
  font-size: 1.2rem;
}

.highlight2 {
    color: #014AAC;
    font-weight: bold;
}


.link {
  color: #000000;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .highlight {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .aboutContent {
    flex-direction: column;
    gap: 24px;
  }
  .aboutImage, .aboutText {
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .highlight {
    font-size: 1.5rem;
  }
}